<div>
<div>
	
	<button {{action "clickButton"}} {{bind-attr class=":actionButton awaitingStatus button.isActive:active :btn :btn-default :btn-block"}}>
		{{button.title}}
		{{#if button.hasStatuses}}
			<span class="caret"></span>
		{{/if}}
		
		{{#if button.status}}
			<div class="buttonStatus">
				<small>{{button.status}}</small>
			</div>
		{{/if}}
		
		
		{{#if button.counted}}
			{{#if button.count}}
			<div class="buttonCount">
				<small>Count: {{button.count}}</small>
			</div>
			{{/if}}
		{{/if}}
		{{#if button.hasTimer}}
			{{#if button.countFrom}}
				{{#if button.activeDuration}}

				{{else}}
					<div class="buttonTimer">
						<small>{{button.timer}}</small>
					</div>
				{{/if}}
			{{/if}}
		{{/if}}
		
	</button>
	
	

		<ul {{bind-attr class=":button-dropdown-menu displayStatuses:show"}}>
			{{#each possibleStatus in button.statuses}}
				{{button-status button=button possibleStatus=possibleStatus}}
				
			
			{{/each}}
		</ul>
	

	
</div>
</div>