<div {{bind-attr class="controller.displayStatuses:dropdown"}}>
	
	<button {{action "clickButton"}} {{bind-attr class=":actionButton awaitingStatus button.isActive:active :btn :btn-default :btn-block controller.displayStatuses:dropdown-toggle"}} data-toggle="dropdown" aria-expanded="true">
		{{button.title}}
		{{#if button.status}}
			<div class="buttonStatus">
				<small>{{button.status}}</small>
			</div>
		{{/if}}
		
		
		{{#if button.counted}}
			{{#if button.count}}
			<div class="buttonCount">
				<small>Count: {{button.count}}</small>
			</div>
			{{/if}}
		{{/if}}
		{{#if button.hasTimer}}
			{{#if button.countFrom}}
				{{#if button.activeDuration}}

				{{else}}
					<div class="buttonTimer">
						<small>{{button.timer}}</small>
					</div>
				{{/if}}
			{{/if}}
		{{/if}}
		{{#if controller.displayStatuses}}
			<span class="caret"></span>
		{{/if}}
	</button>
	
	
	{{#if controller.displayStatuses}}
		<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
			{{#each possibleStatus in button.statuses}}
				<li role="presentation">
					<a role="menuitem" tabindex="-1" href="#" {{action "selectStatus" button possibleStatus}}>
						{{possibleStatus}}
					</a>
				</li>
			
			{{/each}}
		</ul>
	{{/if}}
	

	
</div>
