<li {{bind-attr class="record.userDeleted:deleted :record"}}>
	
		{{#if record.member}}
			{{record.member.name}}
		{{/if}}
	
		{{moment record.time "HH:mm:ss"}} 
		<span class="record-title">{{record.text}}</span>
		<div class="record-buttons pull-right">
			<div class="record-button"><a {{action "editUserText"}} class="edit-button">{{fa-icon "pencil-square-o" size="2"}}</a></div>
			<div class="record-button"><a {{action "deleteRecord"}} class="delete-button">{{fa-icon "times" size="2"}}</a></div>
		</div>
		{{#if editingText}}
		<div>{{input value=record.userText}}
			<button {{action "finishedEditing"}}>Save</button>
		</div>
		{{else}}
		<div>{{record.userText}}</div>
		{{/if}}
</li>