<li {{bind-attr class="record.userDeleted:deleted :record"}}>
	<div class="pull-right">
		
		{{#if record.member}}
			{{record.member.name}}
		{{/if}}
		<button {{action "deleteRecord"}}>x</button>
	</div>
	
	<span {{action "editUserText"}}>
	
		{{moment record.time "HH:mm:ss"}}: 
		<span>{{record.text}}</span>
		{{#if editingText}}
		<div>{{input value=record.userText}}
			<button {{action "finishedEditing"}}>Save</button>
		</div>
		{{else}}
		<div>{{record.userText}}</div>
		{{/if}}
	</span>
</li>