<h2 id="title">Welcome to Ember.js</h2>

{{outlet}}


{{#each category in model}}
<div>
	{{category.title}}
	<ul>
		{{#each button in category.buttons}}
			<li>
				<a {{action "addRecord" button}}>
					{{button.title}}
				</a>
			</li>
		{{/each}}
	</ul>
</div>
{{/each}}


<div class="records">
	<ul>
		{{#each record in records}}
			{{record-entry record=record}}
		{{/each}}
	</ul>
</div>