<!-- google fonts -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600' rel='stylesheet' type='text/css'>


<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      
      
    </div>
    <div id="navbar">
      <p class="navbar-text timer">
		  {{resusTimerStr}}
	  </p>
	  {{#if arrestMode}}
			<button {{action "endArrest"}} class="btn btn-default navbar-btn">ROSC</button>
		{{else}}
			<button {{action "startArrest"}} class="btn btn-default navbar-btn">Cardiac Arrest</button>
		{{/if}}
      
		<span class="dropdown pull-right">
			<button {{action "toggleResusStatuses"}} {{bind-attr class="hasResusStatus::awaiting-status :actionButton button.isActive:active :btn :btn-default :navbar-btn controller.displayResusStatuses:dropdown-toggle"}} data-toggle="dropdown" aria-expanded="true">
				{{#if controller.hasResusStatus}}
					{{controller.resusStatus}}
				{{else}}
					Enter resus status
				{{/if}}
				{{#if controller.displayResusStatuses}}
					<span class="caret"></span>
				{{/if}}
			</button>
			{{#if controller.displayResusStatuses}}
				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
					{{#each possibleStatus in controller.resusStatuses}}
						<li role="presentation">
							<a role="menuitem" tabindex="-1" href="#" {{action "selectResusStatus" possibleStatus}}>
								{{possibleStatus}}
							</a>
						</li>
					{{/each}}
				</ul>
			{{/if}}
		</span>
    </div><!--/.nav-collapse -->
  </div>
</nav>


<!-- Columns for ABCDE... -->
<div class="container-fluid resus-main-columns">
	<div class="row">
		
		
		{{#each category in model}}
			{{render "category" category}}
		{{/each}}
		
		{{render "team"}}
		

	</div>
</div>


<!-- event log -->
<footer class="resus-event-log">
	<div class="container-fluid">
		<ul>
			{{#each record in records}}
				{{record-entry record=record}}
			{{/each}}
			<li>
				{{input value=newCustomRecordText placeholder="Add new event"}}
				<button {{action 'saveCustomRecord'}}>
					Save
				</button>
			</li>
		</ul>
	</div>
</footer>