<!-- google fonts -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600' rel='stylesheet' type='text/css'>


<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      
      
    </div>
    <div id="navbar">
      <p class="navbar-text timer">
		  {{resusTimerStr}}
		  {{#if presumedArrest}}
		  	(presumed arrest)
		  {{else if arrestMode}}
		  	(arrest)
		  {{else}}
		  	(sick)
		  {{/if}}
	  </p>
	  	{{#if presumedArrest}}
	  		<button {{action "isArrest"}} class="btn btn-default navbar-btn">Confirm</button>
	  		<button {{action "notArrest"}} class="btn btn-default navbar-btn">Not an arrest</button>
	  	{{else if arrestMode}}
			<button {{action "endArrest"}} class="btn btn-default navbar-btn">ROSC</button>
		{{else}}
			<button {{action "startArrest"}} class="btn btn-default navbar-btn">Start arrest</button>
		{{/if}}
      
		<span class="dropdown pull-right">
			
			
			<button {{action "toggleResusStatuses"}} {{bind-attr class="hasResusStatus::awaiting-status :actionButton button.isActive:active :btn :btn-default :navbar-btn controller.displayResusStatuses:dropdown-toggle"}} data-toggle="dropdown" aria-expanded="true">
				{{#if controller.hasResusStatus}}
					{{controller.resusStatus}}
				{{else}}
					Enter resus status
				{{/if}}
				{{#if controller.displayResusStatuses}}
					<span class="caret"></span>
				{{/if}}
			</button>
			{{#if controller.displayResusStatuses}}
				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
					{{#each possibleStatus in controller.resusStatuses}}
						<li role="presentation">
							<a role="menuitem" tabindex="-1" href="#" {{action "selectResusStatus" possibleStatus}}>
								{{possibleStatus}}
							</a>
						</li>
					{{/each}}
				</ul>
			{{/if}}
			
			<button {{action "makePDF"}} class="btn btn-default navbar-btn">Save Record</button>
		</span>
    </div><!--/.nav-collapse -->
  </div>
</nav>


<!-- Columns for ABCDE... -->
<div class="container-fluid resus-main-columns">
	<div class="row">
		
		
		{{#each category in model}}
			{{render "category" category}}
		{{/each}}
		
		
		

	</div>
</div>


<!-- Team bar -->
<div class="team-bar">
	{{render "team"}}
</div>


<!-- event log -->
<footer class="resus-event-log">
	<div class="container-fluid">
		<ul id="resus-log">
			{{#if pdfMode}}
				<h1>Record of resuscitation: {{moment appStartTime "DD/MM/YYYY HH:mm"}}</h1>
			{{/if}}
			{{#each record in records}}
				{{record-entry record=record}}
			{{/each}}
			<li>
				{{#unless pdfMode}}
					{{input value=newCustomRecordText placeholder="Add new event" class="no-print"}}
					<button {{action 'saveCustomRecord'}} class="no-print">
						Save
					</button>
				{{/unless}}
			</li>
		</ul>
	</div>
	
</footer>