<h2 id="title">Welcome to Ember.js</h2>

{{outlet}}

<div class="timer">
	{{resusTimer}}
</div>

{{#if arrestMode}}
	<button {{action "endArrest"}}>ROSC</button>
{{else}}
	<button {{action "startArrest"}}>Cardiac Arrest</button>
{{/if}}

{{#each category in model}}
	{{render "category" category}}
{{/each}}


<div class="records">
	<ul>
		{{#each record in records}}
			{{record-entry record=record}}
		{{/each}}
		
		<li>
			{{input value=newCustomRecordText placeholder="Add new event"}}
			<button {{action 'saveCustomRecord'}}>
				Save
			</button>
		</li>
	</ul>
</div>