<h2 id="title">Welcome to Ember.js</h2>

{{outlet}}

<div class="timer">
	{{resusTimerStr}}
</div>

{{#if timerStarted}}
	<button {{action "stopTimer"}}>Stop</button>
{{else}}
	<button {{action "startTimer"}}>Start</button>
{{/if}}

{{#each category in model}}
<div>
	{{category.title}}
	<ul>
		{{#each button in category.buttons}}
			<li>
				{{render "button" button}}
			</li>
		{{/each}}
	</ul>
</div>
{{/each}}


<div class="records">
	<ul>
		{{#each record in records}}
			{{record-entry record=record}}
		{{/each}}
		
		<li>
			{{input value=newCustomRecordText placeholder="Add new event"}}
			<button {{action 'saveCustomRecord'}}>
				Save
			</button>
		</li>
	</ul>
</div>